# Node.js dependencies
node_modules/

# Environment variables
.env
package-lock.json

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Build artifacts
dist/
build/

# Optional: MongoDB dump files
dump/

# Optional: coverage reports
coverage/

# Optional: frontend cache
frontend/.cache/
